<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wishlist</title>
</head>
<body>
    <h1>Wishlist</h1>
    <button id="get-button">READ/GET Products</button>
    <form id="create-form">
        <input type="text" id="create-input">
        <button>Create/POST</button>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script
	     src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
    </script>
    <script src="scripts.js"></script>
</body>
</html>